@charset "utf-8";
/* レイアウトのためのCSS */

:root {
    --text: #191919;
    --white: #fff;
    --gray: #C3C3C3;
    --back: #F9F9F9;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
	color: var(--text);
    background: var(--white);
    font-family: 'Noto Sans JP', sans-serif;
}

ul {
	margin:0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
    outline: none;
}

img {
    width:100%;
    height: auto;
}

* {
    box-sizing: border-box
}

/* font-family */
.time,
.tel,
time,
h2 {
    font-family: 'Montserrat', sans-serif;
}


/* header */
#header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.header-area{
    width: 100%;    
}

.logo span {
    font-weight: 500;
    font-size: 48px;
    line-height: 15px;
    color: var(--white);
}

.logo { 
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: var(--white);
}

#header .logo {
    position: absolute;
    width: 110px;
    height: 41px;
    left: 50px;
    top: 28px;
}

.top-menu {
    padding-top: 18px;
    display: flex;
    justify-content: flex-end;
}


/* hero */
#hero {
    position: relative;
}

#hero h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

#top-main {
    position: absolute;
    width: 768px;
    height: 111px;
    left: 49px;
    top: 400px;
}

#top-main h1,
#top-main p {
    color: var(--white);
}

.arrow-round.arrow-bottom {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* main-area */
#ip, #gym {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ip-area {
    width: 512px;
    height: 378px;

    padding-left: 207px;
}
.ip-title {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 84px;
}

.ip-title span.jp {
    font-family: 'Noto Sans JP';
    color: var(--gray);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    padding: 40px 0 0 16px;
}

.lead {
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    padding-bottom: 24.5px;
}

.text {
    color: var(--gray);
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 48px;
}

.more {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.more span {
    padding-left: 16px;
    font-size: 30px;
}

#ip img {
    padding-top: 300px;
    padding-right: 208.52px;
    width: 44%;
}

.abs {
    padding-top: 245.5px;
    width: 50%;
}

.judo01 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    color: var(--back);
    text-align: right;
}

.judo02 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    color: var(--back);
}

.circle01 {
    width: 301px;
    height: 301px;
    border-radius: 50%;
    border: 30px solid var(--back);
}

.circle02 {
    width: 301px;
    height: 301px;
    border-radius: 50%;
    border: 30px solid var(--back);
}

.gym-area {
    width: 517px;
    height: 390px;
    padding-top: 287px;
    padding-left: 208px;
}

.gym-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    padding-bottom: 27px;
}

.gym-area .text {
    padding-bottom: 26px;
}

#gym img {
    padding-top: 167px;
    width: 40%;
    padding-bottom: 195px;
}


/* information-area */
.medical {
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    color: var(--back);
    text-align: center;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.time-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.info-list dd {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

.time{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.reservation {
    background-color: var(--white);  
}

.reservation ul {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

.reservation p {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 43px;
}


/* blog */
#blog {
    margin: 0 0 100px 0;
}

.title {
    position: relative;
}

#blog .title-en {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    color: var(--back);
}

#blog .title-jp {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    left: 200px;
    bottom: 10px;
}

.blog-area {
    display: flex;
    justify-content: space-between;
    margin: 28px 0 50px 0;
}

.topics-block {
    margin:10px 50px;
}

.topics-block img {
    padding-bottom: 8px;
}

time {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
    padding: 0 0 8px 0;
}

.blog-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.more {
    text-align: center;
}

/* aboutus */
#about {
    background-color: var(--text);
}

#about .title-en {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    text-align: center;
}

#about .title-jp {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: var(--white);
    left: 45%;
    top: 85px;
}

.about-text {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}

.about-list {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    padding-top: 62px;
    padding-bottom: 94px;
    gap: 0 66px;
}

#about img {
    width: auto;
}

.about-text {
    margin: auto;
}

.about-list dl{
    display: flex;
    flex-wrap: wrap;
    width: 308px;
}

.about-list dt{
   width: 30%;
}

.about-list dd{
   width: 70%;
}


/* fotter */
footer {
    background-color: var(--text);
}
.gym-info {
    color: var(--white);
}