@charset "utf-8";
/* レイアウトのためのCSS */
:root {
    --text: #191919;
    --white: #fff;
    --gray: #C3C3C3;
    --back-text: #F9F9F9;
}

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
	color: var(--text);
    background: var(--white);
    font-family: 'Noto Sans JP', sans-serif;
}