@charset "utf-8";
/* レイアウトのためのCSS */
:root {
    --text: #191919;
    --white: #fff;
    --gray: #C3C3C3;
    --back-text: #F9F9F9;
}

html {
    font-size: 100%;
}

body {
	color: var(--text);
    background: var(--white);
    font-family: 'Noto Sans JP', sans-serif;
}

ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
    outline: none;
}

img{
    width:100%;
    height: auto;
}

*{
    box-sizing: border-box
}

/* font-family */

h2 span{
    font-family: 'Montserrat', sans-serif;
}