@charset "utf-8";

:root {
    --text: #191919;
    --white: #fff;
    --gray: #C3C3C3;
    --back: #F9F9F9;
}

/* header */
.btn-tel {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: var(--white);
    text-decoration: none;
    border-radius: 50px;
    background: var(--text);
    border: 1px solid var(--text);
    position: relative;
    display: inline-block;
    top: -2px;
    right: 134px;
    padding: 13px 50px;
    width: 172px;
    height: 43px;
}

.btn-line {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: var(--text);
    text-decoration: none;
    border-radius: 50px;
    background: var(--white);
    border: 1px solid var(--text);
    position: relative;
    display: inline-block;
    top: -2px;
    right: 117px;
    padding: 13px 27px;
    width: 172px;
    height: 43px;
}

.btn-tel:hover,
.btn-line:hover {
    top: 1px;
}

.openbtn {
    position: fixed;
    z-index: 9999;
    right: 48px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--text);
}

.openbtn span {
    display: inline-block;
    transition: all.4s;
    position: absolute;
    left: 11.25px;
    height: 2px;
    background-color: var(--white);
}

.openbtn span:nth-last-of-type(1) {
    top:20px;
    width: 50%;
}

.openbtn span:nth-last-of-type(2) {
    top:27px;
    width: 50%;
}

.openbtn.active span:nth-of-type(1) {
    top: 16px;
    left: 16px;
    transform: translateY(6px) rotate(-45deg);
    width: 35%;
}

.openbtn.active span:nth-of-type(2) {
    top: 28px;
    left: 16px;
    transform: translateY(-6px) rotate(45deg);
    width: 35%;
}

#g-nav {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--text);
    transition: all 0.3s;
}

#g-nav.panelactive {
    opacity: 1;
    z-index: 999;
}

#g-nav.panelactive #g-nav-list {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav ul {
    display: none;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
    display: block;
}

#g-nav li{
	list-style: none;
    text-align: center; 
}

#g-nav-list li a {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
	padding: 10px;
}

#hero {
    width: 100%;
	height: 100vh;
	position: relative;
}

#hero:before {
    top: 0;
	content: '';
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background:url("../img/rodrigo-s-2mz9IKab7DE-unsplash 1.jpg") no-repeat;
	background-size:cover;
}

.arrow-round {
    position: relative;
    display: inline-block;
    padding: 40px;
    border: 1px solid var(--white);
    border-radius: 50%;
    top: 5px;
}

.arrow-round::before {
    content: '';
    width: 16px;
    height: 16px;
    border-top: solid 1px var(--white);
    border-right: solid 1px var(--white);
    position: absolute;
    left: 30px;
    top: 5px;
}
  
.arrow-round.arrow-bottom::before {
    transform: rotate(135deg);
    top: 30px;
}


#wrapper{
	position: relative;
	z-index: 1;
	background: var(--white);
}


#page-top .arrow-round {
    position: relative;
    display: inline-block;
    padding: 20px;
    border: 1px solid var(--white);
    border-radius: 50%;
    top: 5px;
}

#page-top .arrow-round::before {
    content: '';
    width: 8px;
    height: 8px;
    border-top: solid 1px var(--white);
    border-right: solid 1px var(--white);
    position: absolute;
    left: 15px;
    top: 15px;
}

.arrow-round.arrow-top::before {
    transform: rotate(-45deg);
    top: 7px;
}


.move-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    padding-top: 145.38px
}

.move-text span{opacity: 0;}

.move-text.appeartext span{ animation:text_anime_on 3s ease-out forwards; }

@keyframes text_anime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}

.product {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 144px;
    line-height: 216px;
    color: var(--back);
    animation-name: fadeRightAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeRightAnime {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* information-area */
.info {
    background-color: var(--back);
    height: 675px;
    margin-top: -33px;
}

.info-area {
    width: 790px;
    height: 403px;
    margin: 0 auto;
}

.info-area .title {
    text-align: center;
    padding-top: 56px;
    padding-bottom: 39px;
}

.info-list li {
    margin:0 0 23px 0;
    padding: 0 0 23px 0;
}

.info-list dl {
     display: flex;
     justify-content: space-between;
}    



.info-list dt {
    width:30%;
    padding: 0 0 0 40px;
}

.info-list .week {
    padding-bottom: 24px;
}

.info-list .am {
    padding-bottom: 37px;
}


.btn01 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: var(--white);
    text-decoration: none;
    border-radius: 50px;
    background: var(--text);
    border: 1px solid var(--text);
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 40px auto 0;
    padding: 10px;
    width: 370px;
    height: 90px;
}

.btn01 span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}

.btn02 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: var(--text);
    text-decoration: none;
    border-radius: 50px;
    background: var(--white);
    border: 1px solid var(--text);
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 40px auto 0;
    padding: 10px;
    width: 370px;
    height: 90px;
}

.btn02 span {
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
}

.fa-instagram {
    color: var(--white);
    font-size: 2rem;
}